a#return-home {
	color: white;
	text-decoration: none;
}

.about-icon {
	width: 100%;
	display: flex;
	justify-content: center;
}

.about-icon-container {
	width: 50%;
	display: flex;
	justify-content: center;
	background-color: #3696a7;
	border-radius: 75%;
}

#about-robot-img {
	width: 80%;
	height: auto;
}
