.MuiInput-root {
	height: 4rem !important;
}

.Add-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-icon {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 5%;
}

.add-icon-container {
	width: 50%;
	display: flex;
	justify-content: center;
	background-color: #3696a7;
	border-radius: 75%;
}

#add-robot-img {
	width: 80%;
	height: auto;
}

.add-item-success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
