.Home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-buttons {
	margin: 8%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.home-buttons button {
	width: 40%;
}
