.list-icon {
	width: 100%;
	display: flex;
	justify-content: center;
}

.list-icon-container {
	width: 50%;
	display: flex;
	justify-content: center;
	background-color: #3696a7;
	border-radius: 75%;
}

#list-robot-img {
	width: 80%;
	height: auto;
}

a#add-item-from-list {
	color: white;
	text-decoration: none;
}
