.ListItem {
	align-items: center;
	display: flex;
	flex-direction: row;
	font-size: 1.2em;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);
}

.ListItem-label {
	margin-left: 0.2em;
}

.ListItem-urgency {
	margin-left: auto;
}
