:root {
	--color-black: hsla(220, 13%, 18%, 1);
	--color-black-brown: hsla(33, 22%, 16%, 1);
	--color-white: rgb(255, 255, 255);
	--color-gray-dark: hsla(220, 13%, 25%, 1);
	--color-gray-light: hsla(0, 0%, 77%, 1);
	--color-emerald-green: hsla(168, 92%, 25%, 1);
	--color-light-green: hsla(180, 45%, 33%, 1);
	--color-vermillion-green: hsla(168, 92%, 43%, 1);
	--color-cobalt-blue: hsla(215, 100%, 34%, 1);
	--color-dark-blue: hsla(219, 52%, 43%, 1);
	--color-aqua-blue: hsla(189, 52%, 36%, 1);
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	--color-red: hsl(0, 68%, 42%);

	--color-accent: var(--color-aqua-blue);
	--color-bg: var(--color-white);
	--color-bg-well: var(--color-gray-dark);
	--color-error: var(--color-red);
	--color-text: var(--color-aqua-blue);
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-aqua-blue);
		--color-bg: var(--color-white);
		--color-bg-well: var(--color-gray-light);
		--color-text: var(--color-aqua-blue);
	}
}

:root.theme-light {
	--color-accent: var(--color-cobalt-blue);
	--color-bg: var(--color-white);
	--color-bg-well: var(--color-gray-light);
	--color-text: var(--color-aqua-blue);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the viewport
 */
html,
body,
#root,
#root > * {
	min-height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: 'Manrope', sans-serif, -apple-system, BlinkMacSystemFont,
		avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto,
		noto, arial, sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	--color-bg: var(--color-gray-dark);
	--color-text: var(--color-white);

	background-color: var(--color-bg);
	border-radius: 4px;
	color: var(--color-text);
	display: inline-block;
	font-family: 'Manrope', sans-serif, Menlo, Consolas, Monaco, Liberation Mono,
		Lucida Console, monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
}

@media screen and (prefers-color-scheme: light) {
	code {
		--color-bg: var(--color-gray-light);
	}
}

:root.theme-light code {
	--color-bg: var(--color-gray-light);
}

ul {
	padding: 0;
}

button {
	background-color: var(--color-dark-blue);
	color: var(--color-white);
	padding: 0.4em 0.6em;
	margin: 0.3em;
	border-radius: 6px;
	border: 0.1em solid var(--color-dark-blue);
}

button:hover {
	background-color: var(--color-black-brown);
	border: 0.1em solid var(--color-black-brown);
	cursor: pointer;
}

.clearButton:disabled {
	opacity: 0.5;
	background-color: var(--color-dark-blue);
	border: 0.1em solid var(--color-dark-blue);
	cursor: auto;
}

fieldset {
	border: none;
	margin-top: 1em;
}

.link {
	padding: 0.3em;
	border-radius: 6px;
}
